body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error-code {
    font-size: 100px;
    font-weight: bold;
    color: #555;
  }
  
  .error-message {
    font-size: 30px;
    color: #888;
    margin-bottom: 30px;
  }
  
  .button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #444;
  }